trigger:
  branches:
    include:
      - main

pool:
  name: 'managed-pool-agents'

variables:
  imageName: 'insecure-demo-app'
  imageTag: '$(Build.BuildId)'
  fullImage: '$(imageName):$(imageTag)'

steps:
  - checkout: self

  # Install Docker + wget on the managed agent
  - script: |
      sudo apt-get update -y
      sudo apt-get install -y docker.io wget apt-transport-https gnupg lsb-release
      docker --version
    displayName: 'Install Docker and tools'

  # Build the container image
  - script: |
      sudo docker build -t $(fullImage) .
    displayName: 'Build image'

  # Install Trivy via APT and scan the image (note: sudo trivy)
  - script: |
      wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
      echo "deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main" | sudo tee /etc/apt/sources.list.d/trivy.list

      sudo apt-get update -y
      sudo apt-get install -y trivy

      trivy --version

      sudo trivy image \
        --severity HIGH,CRITICAL \
        --vuln-type os,library \
        --ignore-unfixed \
        --exit-code 1 \
        $(fullImage)
    displayName: 'Scan image'

  # Only runs if scan passed
  - script: |
      sudo docker run --rm -d --name test-container -p 8080:80 $(fullImage)
      sleep 5
      sudo docker stop test-container
    displayName: 'image is deployed only if Trvy has found no vulnrabilities'
    condition: succeeded()
